@model Tool

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

@if (Model != null)
{
    <ul class="list-group mb-3 mt-2">
        <li class="list-group-item disabled">Tool ID : @Model.ToolID</li>
        <li class="list-group-item">Tool Name : @Model.Name</li>
    </ul>

    <div>
        <a class="btn btn-primary" asp-controller="Tools" asp-action="Edit" asp-route-id="@Model.ToolID">Edit</a>
        <a class="btn btn-secondary" asp-controller="Tools" asp-action="Index">Back</a>
    </div>
}
else
{
    <div class="alert alert-danger">
        Alat tidak ada di database
    </div>
}