@model List<Tool>

@{
    ViewData["Title"] = "Tools";
}

<h1>@ViewData["Title"]</h1>


<div class="mb-3 text-right">
    <a class="btn btn-primary" asp-controller="Tools" asp-action="Create">Create Tool</a>
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name Tool</th>
            <th scope="col">Name Category</th>
            <th scope="col" colspan="2">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Tool tools in Model)
        {
            <tr>
                <th scope="row">@tools.ToolID</th>
                <td>@tools.Name</td>
                <td>@tools.Category.Name</td>
                <td>[To : do]</td>
            </tr>
        }
    </tbody>
</table>