@model Room
@{
    ViewData["Title"] = "Details Room";
}

<h1>@ViewData["Title"]</h1>

@if (Model != null)
{
    <ul class="list-group mb-3 mt-2">
        <li class="list-group-item disabled">Room ID  : @Model.RoomID</li>
        <li class="list-group-item">Room Name : @Model.Name</li>
    </ul>

    <div>
        <a class="btn btn-primary" asp-controller="Rooms" asp-action="Edit" asp-route-id="@Model.RoomID">Edit</a>
        <a class="btn btn-secondary" asp-controller="Rooms" asp-action="Index">Back</a>
    </div>
}
else
{
    <div class="alert alert-danger">
        Room tidak ada di database
    </div>
}