
@{
    ViewData["Title"] = "Create Category";
}

<h1>@ViewData["Title"]</h1>

<form method="post" action="/Categories/CreatePost">
    <div class="form-group">
        <label for="category-name">Category Name</label>
        <input class="form-control" id="category-name" name="categoryName" placeholder="Enter category name">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <a class="btn btn-secondary" asp-controller="Categories" asp-action="Index">Cancel</a>
</form>

