@model Category

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

@if (Model != null)
{
    <ul class="list-group mb-3 mt-2">
        <li class="list-group-item disabled">Category ID  : @Model.CategoryID</li>
        <li class="list-group-item">Category Name : @Model.Name</li>
    </ul>

    <div>
        <a class="btn btn-primary" asp-controller="Categories" asp-action="Edit" asp-route-id="@Model.CategoryID">Edit</a>
        <a class="btn btn-secondary" asp-controller="Categories" asp-action="Index">Back</a>
    </div>
}
else
{
    <div class="alert alert-danger">
        Kategori tidak ada di database
    </div>
}

